.card-header {
    display: flex;
    justify-content: left;
    align-items: top;
    width: 100%;
    text-align: center;
    overflow: hidden;
    
}

.current-date{
    margin: -35px;
}

.arrow-up, .arrow-down{
    cursor: pointer;
    padding-top: 0.5rem;
}



.today {
    display: grid;
    grid-template-columns: 140px 180px;
    font-size: 1rem;
   
    
   
}

.today div {
    display: flex;
    justify-content: space-between;
    
}



.weekdays {  
width:100%;
display: grid;
grid-template-columns: repeat(7, minmax(50px, 1fr));
grid-gap: 15px;
padding: 20px;
padding-bottom: 0px;
}

.weekday {

display: flex;
justify-content: center;
align-items: center;
height: 40px;
border-bottom: 1px solid grey;
}

.weekday:nth-child(7n) {
    color: skyblue;
}


.date {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
   height: 500px;
   justify-content: center;
    align-items: center;
   padding: 20px;
   padding-top: 0px;
   padding-bottom: 0px;
   grid-gap: 15px;

    }

    .date div{
      
        width: 100%;
       height: 1.5rem;
    }

   .event {
       padding-top: 2rem;
      
   }



.day {
    cursor: pointer;
}

.day:hover {
    
    color: palevioletred;
}

.day-hidden {
    opacity: .4;
}

.active {
    color:palevioletred;
    
}



.day {
    position: relative;
}

.addedEvent {
    position: absolute;
   top: 0em;
   right:1em;
    z-index: 999;
}

form {
    background-color: palevioletred;
    width: 30rem;
    height: 25rem;
    padding: 2rem;
    border-radius: 1rem;
}



.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  /* .event {
      margin-top: 20px;
  } */

  